.promo{
    min-height: 100vh;
    position: relative;
    background: url('../img/background.jpg') no-repeat 50%/cover;
    padding-top: 480px;
    &__title{
        width: 535px;
        margin-top: 10px;
    }
    &__subtitle{
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
    &__btn{
        margin-top: 25px;
        display: flex;  
        align-items: center;
        justify-content: space-between;
    }
    &__link{
        color: #000000;
        font-weight: bold;
        &:hover {
            color: #000000;
            text-decoration: none;
        }
    }
}