.sidepanel{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 340px;
    z-index: 3;
    top: 230px;
    left: 50px;
    &__devider{
        width: 2px;
        height: 70px;
        background-color: #000000;
    }
    &__text{
        width: 25px;
        height: 150px;
        span{
            display: block;
            transform: rotate(-90deg) translate(-30%,-260%);
            width: 150px;
        }
        
    }
    &__link{
        transform: rotate(90deg);
    }


}